html {
	background: url(images/restaurant.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.hours h4 {
	color: rgb(1,13,29);
	background: rgba(248,245,241,0.8);
	padding:10px;
	float: right;
	line-height: 1.5em;
	text-align: right;
}

section.hours a {
	text-decoration: underline;
	color: rgb(1,13,29);
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 400;
}

header {
	background-color: rgba(248,245,241,0.8);
	width: 250px;
	float: left;
	margin-top: 14.9px;
	margin-bottom: 14.9px;
}

#main-nav {
	padding-left: 0;
	text-decoration: none;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

ul#main-nav li a { 
	text-decoration: none;
    /*text-shadow: grey 0px 0px 4px;*/
    font-size: 1.7em;
    display: block;
	text-align: center;
	font-family: 'Gilda Display', serif;
	color: rgb(1,13,29);
	line-height: 1em;
}

ul#main-nav li a:active { 
	color: rgb(25,65,55);
}

ul#main-nav li a:hover { 
	text-decoration: underline;
}

a {
	font-family: 'Gilda Display', serif;
}

aside.contact {
	padding: 0 20px 20px 20px;
	text-align: center;
}


.info{
}

h1 {
	font-size: 3em;
}


h2 {
	font-family: 'Gilda Display', serif;
	font-size: 1em;
	color: rgb(1,13,29);
	margin: 0;
	padding: 0;
}


h3 {
	font-family: 'Gilda Display', serif;
	font-size: 0.7em;
	color: rgb(1,13,29);

}

h3 span {
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 400;
	font-size: 1.4em;
	letter-spacing: .1em;
}

h4 {
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 400;
	font-size: .7em;
	color: rgb(1,13,29);
	letter-spacing: .1em;
	text-align: center;
}


p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1em;
	color: rgb(1,13,29);
	letter-spacing: .1em;
}

hr.style {
	width: 100%;
	text-align:right;
	margin-right:0;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); }
