html {
	margin: 0 auto;
	width: 90%;
}

body {
	background-color: rgb(33,31,31);
}

header {
	text-align: right;
}

h1 {
	font-family: LeagueGothic-regular;
	color: white;
}

h2 {
	font-size: 1em;
	font-family: AftaSerifThin-Regular;
	color: white;
}

h3 {
	font-size: 1em;
	color: white;
}

p {
	font-family: AftaSerifThin-Regular;
	font-size: .8em;
	color: white;
}

@font-face {
	font-family: LeagueGothic-regular;
	src: url(Fonts/LeagueGothic-Regular.otf);
}

@font-face {
	font-family: AftaSerifThin-Regular;
	src: url(Fonts/AftaSerifThin-Regular.otf);
}